aiohttp==3.8.5
msal==1.34.0

botbuilder-core==4.14.7
botbuilder-schema==4.14.7
botbuilder-integration-aiohttp==4.14.7
botframework-connector==4.14.7
botframework-streaming==4.14.7

PyJWT==2.8.0
jsonpickle==1.4.2
msrest==0.7.1
urllib3==1.26.20
