aiohttp==3.7.4.post0
botbuilder-core==4.14.3
botbuilder-schema==4.14.3
botbuilder-integration-aiohttp==4.14.3
botframework-connector==4.14.3
msrest==0.6.21
requests==2.32.3
python-dotenv==1.0.1
msal==1.29.0
